<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap-4.6.2/css/bootstrap.min.css">

    <link rel="icon" type="image/png" sizes="80x62" href="../static/favicon.png">

    <title>Selfmade Library</title>
  </head>
  <body>

    <nav aria-label="Library page navigation">
      <ul class="pagination justify-content-center m-3">
        {% for n in range(total_number_of_pages + 2) %}
          {% if loop.first %}
            <li class="page-item {% if current_page_number == 1 %}disabled{% endif %}">
              <a class="page-link" href="./index{{ current_page_number - 1 }}.html" tabindex="-1">Назад</a>
          {% elif loop.last %}
            <li class="page-item {% if current_page_number == total_number_of_pages %}disabled{% endif %}">
              <a class="page-link" href="./index{{ current_page_number + 1 }}.html">Вперёд</a>
          {% else %}
            <li class="page-item {% if current_page_number == n %}active{% endif %}"><a class="page-link" href="./index{{ n }}.html">{{ n }}</a>
          {% endif %}
            </li>
        {% endfor %}
      </ul>
    </nav>

    {% for book_pair in books %}
      <div class="container">
        <div class="row">
          {% for book in book_pair %}
            <div class="col">
              {% for key, value in book.items() %}
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                     <img src="../{{ value['img_src']|urlencode }}" class="card-img" alt="Обложка: {{ value['title'] }}">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">{{ value['author'] }}</h5>
                        <p class="card-text">{{ value['title'] }}</p>
                          {% for genre in value["genres"] %}
                            <span class="badge badge-light">{{ genre }}</span><br>
                          {% endfor %}
                        <br>
                        <br>
                        <a href="../{{ value['book_path']|urlencode }}" target="_blank">ЧИТАТЬ</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="../static/bootstrap-4.6.2/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap-4.6.2/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
